[Unit]
Description=ShinRacer Backend
After=network.target

[Service]
Type=simple
User=shinobi
WorkingDirectory=/home/shinobi/ac-companion-backend
ExecStart=/usr/bin/node server.js
Restart=on-failure
RestartSec=5
Environment=NODE_ENV=production
Environment=PORT=3000

[Install]
WantedBy=multi-user.target
